@if(isLoading){
<app-spinner></app-spinner>
}
<section class="p-4">
  <div>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>
          {{ "settings.kmPriceConfiguation" | translate }}
        </button>
        <ng-template ngbNavContent>
          <div class="card cardkm">
            <div class="card-header">
              <h4>{{ "settings.kmUpdatePrice.headline" | translate }}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="kmPriceForm">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">{{
                      "settings.kmUpdatePrice.kmPrice" | translate
                    }}</label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="number"
                      formControlName="price"
                      id="inputPassword6"
                      class="form-control"
                    />
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary" (click)="updateKmPrice()">
                      {{ "settings.update" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <hr />
          <div class="card">
            <div class="card-header">
              <h4>{{ "settings.minimumFares.headline" | translate }}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="minimumFaresForm">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">{{
                      "settings.minimumFares.kmPrice" | translate
                    }}</label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="number"
                      class="form-control form-group"
                      formControlName="minimumKm"
                    />
                  </div>
                  <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">
                      {{ "settings.minimumFares.minimumFarePrice" | translate }}
                    </label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="minimumFarePrice"
                    />
                  </div>
                  <div class="col-auto">
                    <label class="col-form-label">{{
                      "settings.minimumFares.isKilometric" | translate
                    }}</label>
                  </div>
                  <div class="col-auto">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked"
                        formControlName="isKilometericMinimumFare"
                        [checked]="
                          this.minimumFaresForm.controls[
                            'isKilometericMinimumFare'
                          ].value
                        "
                      />
                    </div>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary" (click)="updateMiniFares()">
                      {{ "settings.update" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr />
          <div class="card">
            <div class="card-header">
              <h4>Taxi Counter Fees</h4>
              <!-- <h4>{{ "settings.minimumFares.headline" | translate }}</h4> -->
            </div>
            <div class="card-body">
              <form [formGroup]="taxiCounter">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">
                      Taxi Counter Fees
                      <!-- {{ "settings.minimumFares.kmPrice" | translate }} -->
                    </label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="number"
                      class="form-control form-group"
                      formControlName="price"
                    />
                  </div>

                  <div class="col-auto">
                    <button class="btn btn-primary" (click)="taxiCounterFees()">
                      {{ "settings.update" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <hr />
          <div class="card">
            <div class="card-header">
              <h4>
                {{ "settings.deductions.headline" | translate }}
              </h4>
            </div>
            <div class="card-body">
              <form
                [formGroup]="deductionsForm"
                class="row g-3 align-items-center"
              >
                <div class="col-12" formArrayName="deductionsFormArray">
                  <!-- Use @for with the track keyword -->
                  @for(group of deductionsFormArray.controls; track group; let i
                  = $index) {
                  <div [formGroupName]="i" class="row g-3 align-items-center">
                    <div class="text-start my-3">
                      <h4 class="lead">Deduction #{{ i + 1 }}</h4>
                    </div>
                    <div class="col-auto">
                      <label class="col-form-label"
                        >Deduction Name (Arabic)</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nameAr"
                      />
                    </div>

                    <div class="col-auto">
                      <label class="col-form-label"
                        >Deduction Name (English)</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nameEn"
                      />
                    </div>
                    <div class="col-auto">
                      <label class="col-form-label">Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        formControlName="amount"
                      />
                    </div>

                    <div class="col-auto">
                      <label class="col-form-label">Percentage</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="percentage"
                      />
                    </div>
                    <div class="col-auto">
                      <label class="col-form-label">Is active?</label>
                      <div class="form-check">
                        <input
                          formControlName="isActive"
                          class="form-check-input"
                          type="checkbox"
                        />
                      </div>
                    </div>

                    <div class="col-auto">
                      <label class="col-form-label">Is percentage?</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          formControlName="isPercentage"
                        />
                      </div>
                    </div>

                    <div class="col-auto">
                      <button
                        class="btn btn-primary"
                        (click)="updateSelectedDeduction(i)"
                      >
                        Update
                      </button>
                    </div>
                  </div>
                  }
                </div>
              </form>
            </div>
          </div>

          <hr />

          <div class="card">
            <div class="card-header">
              <h4>{{ "settings.requestDistance.headline" | translate }}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="requestDistanceLimit">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <label class="col-form-label">
                      {{ "settings.requestDistance.distanceLimit" | translate }}
                    </label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="number"
                      formControlName="distanceLimit"
                      class="form-control"
                    />
                  </div>
                  <div class="col-auto">
                    <button
                      class="btn btn-primary"
                      (click)="updateRequestDistanceLimit()"
                    >
                      {{ "settings.update" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr />
          <div class="card">
            <div class="card-header">
              <h4>
                {{ "settings.driverArrivalMinDistance.headline" | translate }}
              </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="DriverArrivalMinDistanceForm">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <label class="col-form-label">{{
                      "settings.driverArrivalMinDistance.minDistance"
                        | translate
                    }}</label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="number"
                      formControlName="minDistance"
                      class="form-control"
                    />
                  </div>
                  <div class="col-auto">
                    <button
                      class="btn btn-primary"
                      (click)="updateSelectedDriverArrivalMinDistance()"
                    >
                      {{ "settings.update" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr />
          <div class="card">
            <div class="card-header">
              <h4>{{ "settings.requestTimesLimit.headline" | translate }}</h4>
            </div>
            <div class="card-body">
              <form
                [formGroup]="requestTimeLimitForm"
                class="row g-3 align-items-center"
              >
                <div class="col-12">
                  <!-- Use @for with the track keyword -->

                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label class="col-form-label">{{
                        "settings.requestTimesLimit.time" | translate
                      }}</label>
                      <input
                        type="number"
                        class="form-control"
                        formControlName="time"
                      />
                    </div>

                    <div class="col-auto">
                      <label class="col-form-label">{{
                        "settings.requestTimesLimit.price" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="price"
                      />
                    </div>

                    <div class="col-auto">
                      <label class="col-form-label"> </label>
                      <button
                        class="btn btn-primary d-block mt-2"
                        (click)="updateSelectedrequestTimeLimit()"
                      >
                        {{ "settings.update" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>
          {{ "settings.deductionConfiguration" | translate }}
        </button>
        <ng-template ngbNavContent>
          <p>deduction config goes here</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>
          {{ "settings.tablePrice.headline" | translate }}
        </button>
        <ng-template ngbNavContent>
          <app-price-tables></app-price-tables>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <button ngbNavLink>
          {{ "settings.stationPrices.headline" | translate }}
        </button>
        <ng-template ngbNavContent>
          <app-stations-prices></app-stations-prices>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <button ngbNavLink>
          {{ "settings.zone.headline" | translate }}
        </button>
        <ng-template ngbNavContent>
          <app-zones></app-zones>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</section>
