.holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card,
.selected-card {
  padding: 5px;
  border-radius: 15px;
  // height: fit-content;
}
.statistical-card {
  box-shadow: 0px 1px 20px 3px lightgray !important;
  border: none !important;
}
.card-body {
  padding: 12px;
}

.color-section {
  position: absolute;
  height: 400px !important;
  width: 20px;
  top: 0;
  left: 0;
}
.selected-card {
  color: white;
  background-color: #0053c6;
}
.statistical-card .card-body {
  padding-left: 25px !important;
}

.statistical-text,
.statistical-text-new {
  color: #abbbc2;
  position: relative;
  top: -9px;
  padding-left: 5px;
}
.phone-number {
  font-size: 12px !important;
}
.driver-name {
  font-size: 14px;
  margin-bottom: 5px !important;
}
.statistical-text-new {
  top: 275px;
}
.orders-number {
  * {
    font-size: 14px;
  }
}
.statistical-number {
  font-size: 16px;
  color: #b68d46;
  padding-left: 4px;
  // padding-block: 10px;
}

.statistical-number-selected,
.text-white {
  color: white;
}
.statistical-card {
  overflow: hidden;
}
// .color-section {
//   height: 300px;
// }

i {
  font-size: 20px;
  // font-family: "Font Awesome 6 Free";
}

.top-container {
  height: 50vh;
}
.top-drivers {
  min-height: 300px;
  overflow-y: scroll;
  max-height: 300px;
  padding-block: 12px;
}
.top-drivers::-webkit-scrollbar {
  width: 3px;
  height: 50px !important;
  margin-block: 50px;
}

.currency {
  font-size: 14px;
}

.personal-image {
  width: 40px;
  height: 40px;
  & img {
    width: 100%;
    height: 100%;
  }
}
hr {
  margin: 0;
}

.orders-number {
  padding: 0;
}

.income {
  font-size: 15px;
  margin-top: 8px;
}

.phone-number {
  color: #abbbc2;
}

.text-container {
  & h6 {
    font-size: 14px;
    margin-bottom: 3px !important;
  }
  & p {
    font-size: 14px;
    color: #90a0b7;
  }
}

.top-drivers-details {
  margin-bottom: 12px;
  // height: 65px;
  border-radius: 7px;
  width: 100%;
}

.user-icon-color {
  color: #ffb572;
}

.icon-holder {
  width: 35px;
  text-align: center;
  padding: 5px;
  background-color: white;
  box-shadow: 1px 1px 7px 1px lightgray;
  border-radius: 7px;
  color: #9288e0;
}
.user-icon-color-new {
  color: #65b0f6;
}
.color-section {
  background-color: #9288e0;
}

.color-section1 {
  background-color: #ffb572;
}

.color-section2 {
  background-color: #65b0f6;
}
.statistical-text {
  font-size: 14px;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.table-empty-container {
  height: 340px !important;
  opacity: 0.5;
  border-radius: 10px;
  border: 1px solid grey;
}

.icon-shape {
  width: 50px;
  height: 30px;
  opacity: 0.5;
  border: 1px solid grey;
}
.icon-bar {
  height: 30px;
  width: 10px;
  background-color: grey;
}
.small-lines {
  right: -2px;
  top: -4px;
}

.line {
  width: 8px;
  height: 2px;
  background-color: grey;
  rotate: -45deg;
  opacity: 0.4;
  border-radius: 20px;
}
.top-line {
  top: 3px;
  right: 1px;
  rotate: -60deg !important;
}
.bottom-line {
  bottom: -10px;
  top: 10px;
  rotate: -30deg;
}
.mid-line {
  transform: translateX(-4px) translateY(2px);
  rotate: -50deg;
}
.orange {
  background-color: orange;
}
.lightblue {
  background-color: lightblue;
}
.violet {
  background-color: violet;
}
.khaki {
  background-color: khaki;
}
.lightred {
  background-color: rgb(255, 101, 101);
}
.grey {
  background-color: grey;
}
.yellow {
  background-color: yellowgreen;
}
.lightgreen {
  background-color: lightgreen;
}
