<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="holder p-4">
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-3 color-section">kkf</div>
              <div class="col-9">details</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-3 color-section1">kkf</div>
              <div class="col-9">details</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-3 color-section2">kkf</div>
              <div class="col-9">details</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-3 color-section">kkf</div>
              <div class="col-9">details</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-3 color-section">kkf</div>
              <div class="col-9">details</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-3 color-section">kkf</div>
              <div class="col-9">details</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-info">skflkf</div>
  </div>
</div>
