.card {
  box-shadow: 1px 1px 10px 0px lightgray;
}

label {
  font-weight: bold;
}

::ng-deep .main-content {
  height: calc(100vh - -110px) !important;
  width: 79% !important;
  border-radius: 10px;
}
hr {
  margin-inline: 25px;
}
/* .update-btn {
  margin-top: 38px !important;
} */
h4 {
  font-size: 18px;
  padding-block: 12px;
  font-weight: bold;
  margin: 0px !important;
}
label {
  font-weight: normal;
  font-size: 14px;
}
.nav-tabs {
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: white;
}
.nav-tabs {
  position: fixed;
  top: 64px;
  width: 75%;
  z-index: 1000;
  background-color: white;
}
.modal-body {
  padding-bottom: 200px;
}

.table-container {
  background-color: white !important;
  overflow-y: scroll;
}
.table-content {
  overflow-y: scroll;
}
table {
  border: none !important;
}
thead {
  border-radius: 10px;
  overflow: hidden;
}
thead th {
  padding: 12px;
}

thead tr {
  padding: 10px;
  font-size: 14px !important;

  background-color: #0053c6 !important;
}
tbody tr {
  border: none !important;
}

thead tr {
  color: white;
}
tbody tr td {
  padding-block: 10px;
}
::ng-deep .p-multiselect {
  width: 100%;
  padding: 7px;
}
::ng-deep .p-ripple {
  padding-block: 10px;
}
::ng-deep .p-overlay {
  z-index: 1000000000000 !important;
}
