<div
  class="table-container bg-white rounded-4 pb-3 p-2 shadow-sm position-relative"
  style="max-height: 510px"
>
  <div
    class="d-flex align-items-center justify-content-start text-start gap-3 my-3"
  >
    <div
      class="w-25 search-input d-flex align-items-center justify-content-start gap-4 rounded-pill px-4 py-2"
    >
      <label class="search-icon" for="search-icon">
        <img src="../../../assets/search.png" width="12" height="12" alt="" />
      </label>
      <input
        [(ngModel)]="searchInput"
        type="text"
        id="search-icon"
        placeholder="search"
      />
    </div>
    <button
      (click)="openAddModal(content)"
      class="btn rounded-pill btn-success px-3 d-flex align-items-center justify-content-center gap-2"
    >
      <span> {{ "tables.permissionsTable.actionsButton" | translate }} </span>

      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <table class="w-100 table-content position-relative">
    <thead class="w-100">
      <tr class="py-2 px-4 w-100">
        <th
          [ngClass]="{
            'first-heading': lang == 'En',
            'first-heading-Ar': lang == 'Ar'
          }"
          [ngStyle]="{
            'text-align': lang == 'En' ? 'left' : 'right',
            'padding-left': lang == 'En' ? ' 30px' : '0px',
            'padding-right': lang == 'En' ? ' 0px' : '30px'
          }"
        >
          {{ "tables.permissionsTable.permissionNameEn" | translate }}
        </th>
        <th>{{ "tables.permissionsTable.permissionNameAr" | translate }}</th>

        <th
          [ngClass]="{
            'second-heading': lang == 'En',
            'second-heading-Ar': lang == 'Ar'
          }"
        >
          {{ "tables.permissionsTable.permissionUrl" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      @for(permission of permissions | searchFilter : searchInput; track
      permission) {
      <tr>
        <td
          class="person-info d-flex align-users-center justify-content-start gap-2 ps-5"
        >
          {{ permission?.nameEN }}
        </td>
        <td>{{ permission?.nameAR }}</td>
        <td>{{ permission?.url }}</td>
      </tr>
      }@empty{
      <tr>
        <td>No Data Found</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>{{ "tables.permissionsTable.addTitleModal" | translate }}</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addPermissionForm">
      <div class="row">
        <div class="col-4">
          <label>
            {{ "tables.permissionsTable.permissionNameEn" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="nameEN"
          />
        </div>
        <div class="col-4 mt-2">
          <label>
            {{ "tables.permissionsTable.permissionNameAr" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="nameAR"
          />
        </div>
        <div class="col-4 mt-2">
          <label>
            {{ "tables.permissionsTable.permissionUrl" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="url"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="addPermissionForm.invalid"
      (click)="addPermission()"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
