<section class="vehicles-section">
  <google-map [center]="center" [zoom]="zoom" height="300px" width="100%">
    <map-polygon
      [paths]="geometricalCoordinates"
      [options]="options"
    ></map-polygon>
    <!-- (polygonClick)="getInfoWindow(polygon, $event, 1, 'poly')"
    [paths]="polygon.coords"
    [options]="options" -->
  </google-map>
  <div
    class="table-container h-100 bg-white rounded-4 pb-3 p-2 shadow-sm position-relative d-flex flex-column align-items-center justify-content-between"
  >
    <div
      class="w-100 p-2 my-2 d-flex align-items-start flex-column justify-content-start gap-2"
    >
      <button
        (click)="openAddModal(content)"
        class="btn btn-success px-3 d-flex align-items-center justify-content-center gap-2"
      >
        <span> {{ "tables.zonesTable.addnew" | translate }} </span>

        <i class="fa-solid fa-plus"></i>
      </button>
      <table class="w-100 table-content position-relative">
        <thead class="w-100">
          <tr class="py-2 px-4 w-100 heading-row">
            <th
              class="first-heading"
              [ngClass]="{ 'first-heading-Ar': lang == 'Ar' }"
            >
              <input type="checkbox" />
            </th>
            <th>{{ "tables.zonesTable.zoneNameEn" | translate }}</th>
            <th>{{ "tables.zonesTable.zoneNameAr" | translate }}</th>
            <th
              class="second-heading me-4"
              [ngClass]="{ 'second-heading-Ar': lang == 'Ar' }"
            >
              {{ "tables.zonesTable.details" | translate }}
            </th>
          </tr>
        </thead>
        @if(isLoading){
        <app-spinner></app-spinner>
        } @else {
        <tbody class="w-100">
          @for(zone of zones; track zone ; let idx= $index) {
          <tr class="w-100">
            <td>
              <input
                type="checkbox"
                [checked]="zone.isChecked"
                (change)="checkboxEvent($event, { idx, zone})"
              />
            </td>

            <td>{{ zone.nameEn }}</td>
            <td>{{ zone.nameAr }}</td>

            <td class="d-flex align-items-start justify-content-center">
              <button
                tooltipPosition="top"
                tooltipClass="custom-tooltip"
                (click)="openZoneDetailsModal(content1, zone)"
                class="btn btn-success d-flex align-items-center justify-content-center gap-2"
              >
                <span> {{ "tables.zonesTable.zoneDetails" | translate }}</span>
              </button>
            </td>
          </tr>
          }
        </tbody>
        }
      </table>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header" [dir]="lang == 'Ar' ? 'rtl' : 'ltr'">
    <h4>{{ "tables.zonesTable.addnew" | translate }}</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addZoneForm">
      <div class="form-wrapper" [ngClass]="{ 'ar-form': lang == 'Ar' }">
        <div class="col-md-4">
          <label>{{ "tables.zonesTable.zoneNameAr" | translate }}</label>
          <input type="text" class="form-control" formControlName="nameAr" />
        </div>
        <div class="col-md-4">
          <label>{{ "tables.zonesTable.zoneNameEn" | translate }}</label>
          <input type="text" class="form-control" formControlName="nameEn" />
        </div>
      </div>
      <div
        formArrayName="geometry"
        class="geo-wrapper"
        [ngClass]="{ 'geo-ar': lang == 'Ar' }"
      >
        <div
          *ngFor="let geometry of geometryArray.controls; let i = index"
          [formGroupName]="i"
          class="form-wrapper mt-3"
        >
          <div class="col-md-4">
            <label
              [ngStyle]="{
                'text-align': lang == 'Ar' ? 'right' : 'left',
                width: '100%'
              }"
              >{{ "tables.zonesTable.coordinatesX" | translate }}</label
            >
            <input type="number" class="form-control" formControlName="x" />
          </div>
          <div class="col-md-4">
            <label
              [ngStyle]="{
                'text-align': lang == 'Ar' ? 'right' : 'left',
                width: '100%'
              }"
              >{{ "tables.zonesTable.coordinatesY" | translate }}</label
            >
            <input type="number" class="form-control" formControlName="y" />
          </div>
        </div>
        <div class="button-container d-flex justify-content-center mt-2 p-2">
          <button
            type="button"
            class="btn btn-success mt-2"
            (click)="addGeometry()"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="addZone()">Save</button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4>{{ "tables.zonesTable.zoneDetails" | translate }}</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addZoneForm">
      <div class="form-wrapper">
        <div class="col-md-4">
          <label>{{ "tables.zonesTable.zoneNameAr" | translate }}</label>
          <input type="text" class="form-control" formControlName="nameAr" />
        </div>
        <div class="col-md-4">
          <label>{{ "tables.zonesTable.zoneNameEn" | translate }}</label>
          <input type="text" class="form-control" formControlName="nameEn" />
        </div>
      </div>
      <div formArrayName="geometry">
        <div
          *ngFor="let geometry of geometryArray.controls; let i = index"
          [formGroupName]="i"
          class="form-wrapper mt-3"
        >
          <div class="col-md-4">
            <label>{{ "tables.zonesTable.coordinatesX" | translate }}</label>
            <input type="number" class="form-control" formControlName="x" />
          </div>
          <div class="col-md-4">
            <label>{{ "tables.zonesTable.coordinatesY" | translate }}</label>
            <input type="number" class="form-control" formControlName="y" />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
