.table-container {
  background-color: white !important;
  overflow-y: scroll;
}
.table-content {
  overflow-y: scroll;
}
table {
  border: none !important;
}
thead {
  // display: block;
  border-radius: 10px;
  overflow: hidden;
}
.first-heading {
  border-radius: 10px 0px 0px 10px !important;
}

.second-heading {
  border-radius: 0px 10px 10px 0px;
}

.table-header {
  position: sticky;
  top: -8px;
  left: 0;
  right: 0;
}
thead {
  position: sticky;
  top: -10px;
  left: 0;
  right: 0;
}

td {
  font-size: 14px;
}
thead th {
  padding: 12px;
}
thead tr {
  padding: 10px;
  font-size: 14px !important;

  background-color: #0053c6 !important;
}
tbody tr {
  border: none !important;
}
thead tr {
  color: white;
  text-align: center;
}
tbody tr td {
  text-align: center;
  padding-block: 10px;
}

.rounded-4 {
  border-radius: 20px;
}
