.table-container {
    background-color: white !important;
  } 


  .table-content {
    overflow-y: scroll;
  }
  table {
    border: none !important;
  }
  
  thead {
    border-radius: 10px;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
  thead th {
    padding: 12px;
  }
  thead tr {
    padding: 10px;
    font-size: 14px !important;
  
    background-color: #0053c6 !important;
  }
  tbody tr {
    border: none !important;
  }
  thead tr {
    color: white;
    text-align: center;
  }
  tbody tr td {
    text-align: center;
    padding-block: 10px;
  }

  .rounded-4{
    border-radius: 20px;
  } 



  