@mixin displayAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "montserrat";
}

.table-container {
  background-color: white !important;
  overflow-y: scroll;
}
.table-content {
  overflow-y: scroll;
}
table {
  border: none !important;
}
thead {
  border-radius: 10px;
  overflow: hidden;
}
thead th {
  padding: 12px;
}

thead tr {
  padding: 10px;
  font-size: 14px !important;

  background-color: #0053c6 !important;
}
tbody tr {
  border: none !important;
}

thead tr {
  color: white;
  // text-align: center;
}
tbody tr td {
  // text-align: center;
  padding-block: 10px;
}
.text-container {
  & h6 {
    font-size: 14px;
    margin-bottom: 3px !important;
  }
  & p {
    font-size: 14px;
    color: #90a0b7;
  }
}
.btn-success {
  background-color: white;
  color: #0053c6;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.btn-success:hover {
  background-color: white;
  color: #0053c6;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.btn-success:active {
  background-color: white !important;
  color: #0053c6 !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
}
.route-details {
  .btn {
    font-size: 14px;
    background-color: white !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    color: #0053c6;
    opacity: 0.8;
    font-weight: 600;

    & :active {
      border-color: #0053c6 !important ;
    }
  }
}
.first-heading {
  border-radius: 10px 0px 0px 10px !important;
}

.second-heading {
  border-radius: 0px 10px 10px 0px;
}

.first-heading-Ar {
  border-radius: 0px 10px 10px 0px !important;
}
.second-heading-Ar {
  border-radius: 10px 0px 0px 10px !important;
}
.ar-row th {
  text-align: right;
  direction: rtl;
}
.modal-body {
  padding-bottom: 200px;
}
::ng-deep .p-multiselect {
  width: 100%;
  padding: 7px;
}
::ng-deep .p-ripple {
  padding-block: 10px;
}
::ng-deep .p-overlay {
  z-index: 1000000000000 !important;
}

.search-input {
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  input {
    border: none !important;
    outline: none !important;
  }
  input::placeholder {
    opacity: 0.6;
  }
  img {
    opacity: 0.3;
  }
}

.search-icon {
  cursor: pointer;
}
