<section class="map-container">
  <div class="map-wrapper mb-2 overflow-hidden rounded-4">
    <google-map [center]="center" [zoom]="zoom" height="300px" width="100%">
      @for(driver of driverMarkers; track driver) {
      <div>
        <map-marker
          #driver
          [position]="driver.coords"
          [icon]="driver.icon"
          (mapClick)="getInfoWindow(infoWindow, driver)"
        ></map-marker>
      </div>
      }
      <map-info-window #infoWindow>
        <div class="">hello</div>
      </map-info-window>
    </google-map>
  </div>

  <div
    class="table-container bg-white rounded-4 pb-3 p-2 shadow-sm position-relative"
    style="height: 290px"
  >
    <table class="w-100 table-content position-relative">
      <thead class="w-100">
        <tr class="py-2 px-4 w-100">
          <th class="first-heading">
            <input type="checkbox" (change)="checkboxEvent($event)" />
          </th>
          <th style="text-align: left; padding-left: 0px">driver</th>
          <th style="text-align: left; padding-left: 0px">User</th>
          <th>Car type</th>
          <th>Ordered date</th>
          <th>Start Location</th>

          <th>Finish Location</th>
          <th>Total amount</th>
          <th class="second-heading">Status</th>
        </tr>
      </thead>
      <tbody class="w-100">
        @for(driver of allDrivers; track driver) {
        <tr class="w-100">
          <td>
            <input
              type="checkbox"
              [checked]="driver.isChecked"
              (change)="addMarkerOnMap(driver, $event)"
            />
          </td>

          <td class="person-info">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <img
                [src]="
                  driver?.driver.driver?.picture
                    ? imageUrl + driver?.driver.user?.picture
                    : '../../../assets/Rectangle 9.png'
                "
                alt=""
                height="35"
                width="35"
              />
              <div class="text-container text-start">
                <h6 class="m-0 p-0">{{ driver?.driver.user?.fullName }}</h6>
                <p class="m-0 p-0">{{ driver?.driver.user?.phoneNumber }}</p>
              </div>
            </div>
          </td>
          <td class="person-info">
            <div class="d-flex align-items-center justify-content-start gap-2">
              <img
                [src]="
                  driver?.user?.picture
                    ? imageUrl + driver?.user?.picture
                    : '../../../assets/Rectangle 9.png'
                "
                alt=""
                height="40"
                width="40"
              />
              <div class="text-container text-start">
                <h6 class="m-0 p-0">{{ driver?.user?.fullName }}</h6>
                <p class="m-0 p-0">{{ driver?.user?.phoneNumber }}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center gap-2">
              <div class="vehicle-image">
                <img [src]="imageUrl + driver.currentVehicle?.photo" alt="" />
              </div>
              <div>
                <p>
                  {{
                    driver?.currentVehicle?.vehicleName
                      ? driver?.currentVehicle?.vehicleName
                      : "-"
                  }}
                </p>
              </div>
            </div>
          </td>
          <td>{{ driver?.driver?.createdAt | date : "dd-MM-yyyy" }}</td>
          <td style="width: 200px" class="text-start ps-1">
            {{ driver?.requestRoute?.fromLocationName }}
          </td>
          <td style="width: 200px" class="text-start ps-3">
            {{ driver?.requestRoute?.toLocationName }}
          </td>
          <td>
            <div class="income-styling px-3 w-75 m-auto py-2 rounded-4">
              <div>
                {{
                  driver?.requestRoute.price ? driver?.requestRoute.price : "-"
                }}
                EGP
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="income-styling px-2 w-100 m-auto py-2 rounded-4"
              [ngClass]="{ 'driver-na': !driver?.driver?.status }"
            >
              {{ driver?.driver?.status ? "available" : "N/A" }}
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <!-- <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ testArray.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of testArray;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ item }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
