@import "../../../styles.scss";
@mixin displayAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  font-family: "montserrat";
}
.map-wrapper {
  border: 1px solid $primary-color;
  height: 300px;
}
.person-info {
  width: 130px;
}
.table-container {
  background-color: white !important;
  overflow-y: scroll;
}
.table-content {
  overflow-y: scroll;
}
table {
  border: none !important;
}
thead {
  // display: block;
  border-radius: 10px;
  overflow: hidden;
}
thead th {
  padding: 12px;
}
thead tr {
  padding: 10px;
  font-size: 14px !important;

  background-color: $primary-color !important;
}
.person-info img {
  border-radius: 50%;
}
tbody tr {
  border: none !important;
}
thead tr {
  color: white;
  text-align: center;
}
tbody tr td {
  text-align: center;
  padding-block: 10px;
}
.text-container {
  & h6 {
    font-size: 14px;
    margin-bottom: 3px !important;
  }
  & p {
    font-size: 12px;
    color: #90a0b7;
  }
}
.first-heading {
  border-radius: 10px 0px 0px 10px !important;
}

.second-heading {
  border-radius: 0px 10px 10px 0px;
}
::ng-deep .p-datatable-thead th {
  color: white;
  padding: 10px;
  background-color: $primary-color;
  font-size: 14px;
}
::ng-deep .p-hidden-accessible {
  display: flex;
  align-items: center;
  justify-content: start;
}
::ng-deep .p-datatable-tbody tr .p-checkbox {
  padding-left: 10px !important;
}
::ng-deep .p-datatable-tbody tr td {
  padding-block: 12px;
}
tbody tr td {
  font-size: 12px;
}
// ::ng-deep .p-checkbox {
//   padding-left: 14px;
// }
.income-styling {
  background-color: #24c18f2e;
  color: #24c18f;
  font-weight: bold;
  * {
    text-wrap: nowrap;
  }
}

thead {
  position: sticky;
  top: -8px;
  left: 0;
  right: 0;
}
.table-footer {
  margin-top: 10px;
}

.vehicle-image {
  width: 30px;

  & img {
    width: 100%;
    aspect-ratio: 1;
  }
}
.box-style {
  @include displayAlignment();
  width: 30px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  cursor: pointer;
}
.active-page {
  background-color: $primary-color;
  color: white;
}
.driver-na {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}
