<section class="map-container">
  <div class="map-wrapper mb-2 overflow-hidden rounded-4">
    <google-map [center]="center" [zoom]="zoom" height="300px" width="100%">
      @for(driver of driverMarkers; track driver) {
      <div>
        <map-marker
          #driver
          [position]="driver.coords"
          [icon]="driver.icon"
          (mapClick)="getInfoWindow(infoWindow, driver)"
        ></map-marker>
      </div>
      }
      <map-info-window #infoWindow>
        <div class="">hello</div>
      </map-info-window>
    </google-map>
  </div>

  <div
    class="table-container bg-white rounded-4 pb-3 p-2 shadow-sm position-relative"
    style="height: 290px"
  >
    <table class="w-100 table-content position-relative">
      <thead class="w-100">
        <tr class="py-2 px-4 w-100">
          <th class="first-heading">
            <input type="checkbox" (change)="checkboxEvent($event)" />
          </th>
          <th style="width: 150px; text-align: left; padding-left: 0px">
            User
          </th>
          <th>Car type</th>
          <th>Ordered date</th>
          <th>Start Location</th>

          <th>Finish Location</th>
          <th class="second-heading">Total amount</th>
        </tr>
      </thead>
      <tbody class="w-100">
        @for(item of allDrivers; track item) {
        <tr class="w-100">
          <td>
            <input
              type="checkbox"
              [checked]="item.isChecked"
              (change)="selectedItem(item)"
            />
          </td>

          <td
            class="person-info d-flex align-items-center justify-content-start gap-2"
          >
            <img
              [src]="
                item?.user?.picture
                  ? item?.user?.picture
                  : '../../../assets/Rectangle 9.png'
              "
              alt=""
              height="40"
              width="40"
            />
            <div class="text-container text-start">
              <h6 class="m-0 p-0">{{ item?.user?.fullName }}</h6>
              <p class="m-0 p-0">{{ item?.user?.phoneNumber }}</p>
            </div>
          </td>
          <td>
            {{
              item?.currentVehicle?.vehicleName
                ? item?.currentVehicle?.vehicleName
                : "-"
            }}
          </td>
          <td>{{ item?.driver?.createdAt | date : "dd-MM-yyyy" }}</td>
          <td style="width: 200px" class="text-start ps-1">
            {{ item?.requestRoute?.fromLocationName }}
          </td>
          <td style="width: 200px" class="text-start ps-3">
            {{ item?.requestRoute?.toLocationName }}
          </td>
          <td class="d-flex align-items-center justify-content-center">
            <div class="income-styling px-2 w-50 py-2 rounded-4">
              {{ item?.driver?.totalAmount ? item?.driver?.totalAmount : "-" }}
              EGP
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ testArray.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of testArray;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ item }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
