<section class="map-container">
  <div class="map-wrapper position-relative mb-2 overflow-hidden rounded-4">
    <div
      class="search-input d-flex align-items-center justify-content-between gap-3 rounded-pill px-4 py-2 position-absolute"
    >
      <label class="search-icon" for="search-icon"
        ><img src="../../../assets/search.png" width="12" height="12" alt=""
      /></label>
      <input
        type="text"
        id="search-icon"
        placeholder="search"
        (change)="searchInDrivers($event)"
      />
    </div>
    <google-map [center]="center" [zoom]="zoom" height="300px" width="100%">
      <ng-container
        *ngFor="let driver of driverMarkers; trackBy: trackByDriverId"
      >
        <map-marker
          #driverMarker="mapMarker"
          [position]="driver.coords"
          [icon]="driver.icon"
          (mapMouseover)="showDriverInfo(infoWindow, driverMarker, driver)"
          (mapMouseout)="hideDriverInfo(infoWindow)"
        ></map-marker>
      </ng-container>
      <map-info-window #infoWindow="mapInfoWindow">
        <div class="info-window-content">
          <img
            [src]="
              selectedDriver?.userInfo?.image
                ? imgUrl + selectedDriver?.userInfo?.image
                : '../../../assets/carjpg.jpg'
            "
            alt="Driver Image"
            width="50"
            height="50"
          />
          <div class="text">
            <p class="mt-2">
              <strong>Driver Name:</strong> {{ selectedDriver?.userInfo?.name }}
            </p>
            <p class="mt-2">
              <strong>Phone Number</strong>
              {{ selectedDriver?.userInfo?.phoneNumber }}
            </p>
            <p class="mt-2">
              <strong>Vehicle Name:</strong>
              {{ selectedDriver?.currentVehicle?.vehicleName }}
            </p>
          </div>
        </div>
      </map-info-window>
    </google-map>
  </div>

  <div
    class="table-container bg-white rounded-4 pb-3 p-2 shadow-sm position-relative"
    style="height: 290px"
  >
    <table class="w-100 table-content position-relative">
      <thead class="w-100">
        <tr class="py-2 px-4 w-100">
          <th
            class="first-heading"
            [ngClass]="{ 'first-heading-Ar': lang == 'Ar' }"
          >
            <input type="checkbox" (change)="checkboxEvent($event)" />
          </th>
          <th
            style="padding-left: 0px"
            [ngStyle]="{ 'text-align': lang === 'En' ? 'left' : 'right' }"
          >
            {{ "tables.liveMap.driver" | translate }}
          </th>
          <th style="width: 150px; padding-left: 0">
            {{ "tables.liveMap.vehicle" | translate }}
          </th>
          <th
            style="padding-left: 25px"
            [ngStyle]="{ 'text-align': lang === 'En' ? 'left' : 'right' }"
          >
            {{ "tables.liveMap.client" | translate }}
          </th>
          <th>
            {{ "tables.liveMap.orderedDate" | translate }}
          </th>
          <th>
            {{ "tables.liveMap.startLocation" | translate }}
          </th>

          <th>
            {{ "tables.liveMap.finishLocation" | translate }}
          </th>
          <th style="width: 150px">
            {{ "tables.liveMap.totalAmount" | translate }}
          </th>
          <th style="width: 150px">
            {{ "tables.liveMap.requestStatus" | translate }}
          </th>
          <th
            class="second-heading"
            [ngClass]="{ 'second-heading-Ar': lang == 'Ar' }"
          >
            {{ "tables.liveMap.status" | translate }}
          </th>
        </tr>
      </thead>
      <tbody class="w-100">
        @for(driver of allDrivers; track driver) {
        <tr class="w-100">
          <td>
            <input
              type="checkbox"
              [checked]="driver.isChecked"
              (change)="addMarkerOnMap(driver, $event)"
            />
          </td>

          <td lass="person-info">
            <!-- [ngClass]="{
                'justify-content-start': lang == 'En',
                'justify-content': lang == 'Ar'
              }" -->
            <div class="d-flex align-items-center justify-content-start gap-2">
              <img
                [src]="
                  driver?.driver.user?.picture
                    ? imageUrl + driver?.driver.user?.picture
                    : '../../../assets/Rectangle 28.png'
                "
                alt=""
                height="35"
                width="35"
              />
              <div
                [ngClass]="{
                  'text-end': lang == 'Ar',
                  'text-start': lang == 'En'
                }"
                class="text-container"
              >
                <h6 class="m-0 p-0">{{ driver?.driver.user?.fullName }}</h6>
                <p class="m-0 p-0">{{ driver?.driver.user?.phoneNumber }}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-start gap-2">
              <div class="vehicle-image">
                <img [src]="imageUrl + driver.currentVehicle?.photo" alt="" />
              </div>
              <div>
                <p>
                  {{
                    driver?.currentVehicle?.vehicleName
                      ? driver?.currentVehicle?.vehicleName
                      : "-"
                  }}
                </p>
              </div>
            </div>
          </td>
          <td class="person-info">
            <div *ngIf="!driver?.customer">--</div>
            <div
              class="d-flex align-items-center justify-content-start gap-2"
              *ngIf="driver?.customer"
            >
              <img
                *ngIf="driver?.customer?.picture"
                [src]="
                  driver?.customer?.picture
                    ? imageUrl + driver?.customer?.picture
                    : '../../../assets/Rectangle 9.png'
                "
                alt=""
                height="40"
                width="40"
              />
              <div
                class="text-container"
                [ngClass]="{
                  'text-end': lang == 'Ar',
                  'text-start': lang == 'En'
                }"
              >
                <h6 class="m-0 p-0">{{ driver?.customer?.fullName }}</h6>
                <p class="m-0 p-0">{{ driver?.customer?.phoneNumber }}</p>
              </div>
            </div>
          </td>

          <td>{{ driver?.driver?.createdAt | date : "yyyy-MM-dd : hh:mm" }}</td>
          <td style="width: 200px" class="text-center ps-1">
            {{
              driver?.requestRoute?.fromLocationName
                ? driver?.requestRoute?.fromLocationName
                : "--"
            }}
          </td>
          <td style="width: 200px" class="text-center ps-3">
            {{
              driver?.requestRoute?.toLocationName
                ? driver?.requestRoute?.toLocationName
                : "--"
            }}
          </td>
          <td>
            <div class="income-styling px-3 w-75 m-auto py-2 rounded-4">
              <div>
                {{
                  driver?.requestRoute?.price
                    ? driver?.requestRoute?.price
                    : "-"
                }}
                EGP
              </div>
            </div>
          </td>
          <td>
            <div class="income-styling px-3 w-75 m-auto py-2 rounded-4">
              <div class="requestStatus text-wrap">
                {{
                  lang == "En"
                    ? driver?.requestRoute?.requestStatus?.nameEn
                    : driver?.requestRoute?.requestStatus?.nameAr
                }}
              </div>
            </div>
          </td>

          <td class="">
            <div
              class="income-styling px-2 w-100 m-auto py-2 rounded-4"
              [ngClass]="{ 'driver-na': !driver?.driver?.status }"
            >
              {{ driver?.driver?.status ? "available" : "N/A" }}
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <!-- <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ testArray.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of testArray;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ item }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
