<div
  class="table-container bg-white rounded-4 pb-3 p-2 shadow-sm position-relative"
  style="max-height: 510px"
>
  <div class="text-start my-2">
    <button
      (click)="openAddModal(content)"
      class="btn btn-success px-3 d-flex align-items-center justify-content-center gap-2"
    >
      <span> {{ "tables.rolesTable.actionsButton" | translate }} </span>

      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <table class="w-100 table-content position-relative">
    <thead class="w-100">
      <tr class="py-2 px-4 w-100">
        <th
          [ngClass]="{
            'first-heading': lang == 'En',
            'first-heading-Ar': lang == 'Ar'
          }"
          style="width: 150px"
          [ngStyle]="{
            'text-align': lang == 'En' ? 'left' : 'right',
            'padding-left': lang == 'En' ? ' 30px' : '0px',
            'padding-right': lang == 'En' ? ' 0px' : '30px'
          }"
        >
          {{ "tables.usersTable.user" | translate }}
        </th>
        <th>{{ "tables.usersTable.emailOrUsername" | translate }}</th>
        <th>{{ "tables.usersTable.phoneNumber" | translate }}</th>

        <th>{{ "tables.usersTable.gender" | translate }}</th>
        <th>
          {{ "tables.usersTable.birthday" | translate }}
        </th>
        <th
          [ngClass]="{
            'second-heading': lang == 'En',
            'second-heading-Ar': lang == 'Ar'
          }"
        >
          {{ "tables.usersTable.options" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user) {
      <tr>
        <td
          class="person-info d-flex align-users-center justify-content-start gap-2"
        >
          <img
            [src]="
              user?.picture
                ? imgUrl + user?.picture
                : '../../../assets/unknown.png'
            "
            alt=""
            height="40"
            width="40"
          />
          <div class="text-container text-start">
            <h6 class="m-0 p-0">{{ user?.phoneNumber }}</h6>
            <p class="m-0 p-0">{{ user?.email }}</p>
          </div>
        </td>
        <td>{{ user?.email }}</td>
        <td>{{ user?.phoneNumber }}</td>
        <td>Male</td>
        <td>{{ user?.birthdate | date : "dd-MM-yyyy" }}</td>
        <td class="d-flex align-items-start justify-content-center">
          <button
            pTooltip="Update station"
            tooltipPosition="top"
            tooltipClass="custom-tooltip"
            (click)="openUpdateModal(content1, user)"
            class="btn btn-success d-flex align-items-center justify-content-center gap-2"
          >
            <!-- <span> Update vehicle </span> -->

            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Add new user</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addUserForm">
      <div class="row">
        <div class="col-md-4">
          <label> {{ "tables.usersTable.emailOrUsername" | translate }} </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="email"
          />
        </div>
        <div class="col-md-4">
          <label> {{ "tables.usersTable.phoneNumber" | translate }} </label>
          <input
            class="form-group form-control"
            type="number"
            formControlName="phone"
          />
        </div>
        <div class="col-md-4">
          <label> {{ "tables.usersTable.gender" | translate }} </label>
          <select formControlName="genderId" class="form-select form-control">
            <option [value]="1">Male</option>
            <option [value]="2">Female</option>
          </select>
        </div>

        <div class="col-md-4">
          <label> {{ "tables.usersTable.nationality" | translate }} </label>
          <select
            formControlName="nationalityId"
            class="form-select form-control"
          >
            <option disabled selected value="null">
              {{ "tables.usersTable.selectNationality" | translate }}
            </option>
            @for(nationality of nationalities; track nationality){
            <option [value]="nationality.id">
              {{ nationality.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> {{ "tables.usersTable.password" | translate }} </label>

          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>

        <div class="col-md-4">
          <label> {{ "tables.usersTable.confirmPassword" | translate }} </label>

          <input
            class="form-control"
            type="password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              addUserForm.errors?.['mismatch'] && addUserForm.get('confirmPassword')?.touched
            "
          >
            <p class="fw-bold text-danger">
              {{ "tables.usersTable.PasswordDoesNotMatch" | translate }}
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <label>
            {{ "tables.usersTable.birthday" | translate }}
          </label>
          <input class="form-control" type="date" formControlName="birthDate" />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="addUserForm.invalid"
      (click)="addUser()"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4>Add Roles</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addRolesForm">
      <div class="row">
        <div class="col-4 field mt-2">
          <label style="display: block">{{
            "tables.usersTable.roles" | translate
          }}</label>
          <p-multiSelect
            [options]="roles"
            formControlName="roles"
            [(ngModel)]="selectedRoles"
            [optionLabel]="lang == 'En' ? 'name' : 'nameAr'"
            optionValue="name"
            appendTo="body"
          ></p-multiSelect>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="updateUserRoles()">Save</button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
