<div
  class="table-container bg-white rounded-4 pb-3 p-2 shadow-sm position-relative"
  style="max-height: 510px"
>
  <!-- <div class="text-start my-2">
    <button
      class="btn btn-success px-2 d-flex align-items-center justify-content-center gap-2 w-auto py-2 add-new-user-button"
    >
      <span>Add new</span>
      <i class="fa-solid fa-plus"></i>
    </button>
  </div> -->
  <table class="w-100 table-content position-relative">
    <thead class="w-100">
      <tr class="py-2 px-4 w-100">
        <th class="first-heading">
          <input type="checkbox" (change)="checkboxEvent($event)" />
        </th>
        <th style="width: 150px; text-align: left; padding-left: 0px">User</th>
        <th>E-mail or Username</th>
        <th>Phone number</th>

        <th>Gender</th>
        <th>BirthDay</th>
        <th>Credit</th>
        <th class="second-heading">Credit details</th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user) {
      <tr>
        <td>
          <input type="checkbox" [checked]="user.isChecked" />
        </td>
        <td
          class="person-info d-flex align-users-center justify-content-start gap-2"
        >
          <img
            [src]="
              user.picture
                ? imgUrl + user.picture
                : '../../../assets/unknown.png'
            "
            alt=""
            height="40"
            width="40"
          />
          <div class="text-container text-start">
            <h6 class="m-0 p-0">{{ user.phoneNumber }}</h6>
            <p class="m-0 p-0">{{ user.email }}</p>
          </div>
        </td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>Male</td>
        <td>{{ user.birthdate | date : "dd-MM-yyyy" }}</td>
        <td>{{ user.credit }} LE</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Add new user</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addUserForm">
      <div class="row">
        <div class="col-md-4">
          <label> Email </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="email"
          />
        </div>
        <div class="col-md-4">
          <label> Phone </label>
          <input
            class="form-group form-control"
            type="number"
            formControlName="phone"
          />
        </div>
        <div class="col-md-4">
          <label> Gender </label>
          <select formControlName="genderId" class="form-select form-control">
            <option [value]="1">Male</option>
            <option [value]="2">Female</option>
          </select>
        </div>

        <div class="col-md-4">
          <label> Nationality </label>
          <select
            formControlName="nationalityId"
            class="form-select form-control"
          >
            <option disabled selected value="null">
              Please choose nationality
            </option>
            @for(nationality of nationalities; track nationality){
            <option [value]="nationality.id">
              {{ nationality.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> Password </label>

          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>

        <div class="col-md-4">
          <label> Confirm password </label>

          <input
            class="form-control"
            type="password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              addUserForm.errors?.['mismatch'] && addUserForm.get('confirmPassword')?.touched
            "
          >
            <p class="fw-bold text-danger">
              Password and confirm password do not match.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <label> Birth date </label>
          <input class="form-control" type="date" formControlName="birthDate" />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="addUserForm.invalid"
      (click)="addUser()"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
