<section class="vehicles-section">
  <div
    class="table-container h-100 bg-white rounded-4 pb-3 p-2 shadow-sm position-relative d-flex flex-column align-items-center justify-content-between"
  >
    <div
      class="w-100 p-2 my-2 d-flex align-items-center justify-content-start gap-2"
    >
      <button
        class="btn btn-success px-3 d-flex align-items-center justify-content-center gap-2"
      >
        <span> Add New </span>

        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <table class="w-100 table-content position-relative">
      <thead class="w-100">
        <tr class="py-2 px-4 w-100">
          <th class="first-heading">
            <input type="checkbox" (change)="checkboxEvent($event)" />
          </th>
          <th class="text-start">Car Name</th>
          <th>Model Year</th>
          <th>Fuel Type</th>
          <th>Car Color</th>

          <th>Finish Location</th>
          <th class="second-heading">Income Location</th>
        </tr>
      </thead>
      <tbody class="w-100">
        @for(data of driversData; track data) {
        <tr class="w-100">
          <td>
            <input type="checkbox" [checked]="data.isChecked" />
          </td>
          <td
            class="person-info d-flex align-items-center justify-content-start gap-2"
          >
            <img
              src="../../../assets/carjpg.jpg"
              class="rounded-circle"
              alt=""
              height="40"
              width="40"
            />
            <div class="text-container text-start">
              <h6 class="m-0 p-0 fw-bold">{{ data.res.vehicleName }}</h6>
              <a href="#" class="click-show-image">Show Image</a>
            </div>
          </td>
          <td>{{ data.res.year }}</td>
          <td>{{ data.res.fuelType.nameEn }}</td>
          <td style="width: 200px" class="text-start ps-1">
            {{ "" }}
          </td>
          <td style="width: 200px" class="text-start ps-3">
            {{ "" }}
          </td>
          <td class="d-flex align-items-center justify-content-center">
            <div
              class="income-styling px-2 w-50 py-2 rounded-4"
              [ngClass]="{ 'not-available': true }"
            >
              <!-- {{ "" }}{{ data.income ? "EGP" : "N/A" }} -->
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <!-- <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ driversData.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of driversData;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ index + 1 }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
