<section class="vehicles-section">
  <div
    class="table-container h-100 bg-white rounded-4 pb-3 p-2 shadow-sm position-relative d-flex flex-column align-items-center justify-content-between"
  >
    <div
      class="w-100 p-2 my-2 d-flex align-items-start flex-column justify-content-start gap-2"
    >
      <button
        (click)="openAddModal(content)"
        class="btn btn-success px-3 d-flex align-items-center justify-content-center gap-2"
      >
        <span> Add New </span>

        <i class="fa-solid fa-plus"></i>
      </button>
      <table class="w-100 table-content position-relative">
        <thead class="w-100">
          <tr class="py-2 px-4 w-100">
            <th class="first-heading">
              <input type="checkbox" (change)="checkboxEvent($event)" />
            </th>
            <th class="text-start">Car Name</th>
            <th>Model Year</th>
            <th>Fuel Type</th>
            <th>Car Color</th>

            <th>Vehicle Status</th>
            <th class="second-heading me-4">Vehicle Status</th>
          </tr>
        </thead>
        <tbody class="w-100">
          @for(data of driversData; track data) {
          <tr class="w-100">
            <td>
              <input type="checkbox" [checked]="data.isChecked" />
            </td>
            <td
              class="person-info d-flex align-items-center justify-content-start gap-2"
            >
              <img
                [src]="
                  data.res.photo
                    ? imgUrl + data.res.photo
                    : '../../../assets/carjpg.jpg'
                "
                alt=""
                height="40"
                width="40"
              />
              <div class="text-container text-start">
                <h6 class="m-0 p-0 fw-bold">{{ data.res.vehicleName }}</h6>
                <!-- <a href="#" class="click-show-image">Show Image</a> -->
              </div>
            </td>
            <td>{{ data.res.year }}</td>
            <td>{{ data.res.fuelType.nameEn }}</td>
            <td style="width: 200px" class="text-center">
              {{ data.res.vehicleColor }}
            </td>
            <td style="width: 200px" class="text-center">
              {{ data.res.vehicleStatus.nameEn }}
            </td>
            <td class="d-flex align-items-start justify-content-center">
              <button
                (click)="openDriverModal(vehicleDriver, data)"
                class="btn btn-success d-flex align-items-center justify-content-center gap-2"
              >
                <span> Add driver </span>

                <i class="fa-solid fa-plus"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ driversData.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of driversData;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ index + 1 }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Add new vehicle</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addVehicleForm">
      <div class="row">
        <div class="col-md-4">
          <label> vehicle name </label>
          <input
            class="text"
            class="form-group form-control"
            formControlName="vehicleName"
          />
        </div>

        <div class="col-md-4">
          <label> year </label>
          <input
            class="number"
            class="form-group form-control"
            formControlName="year"
          />
        </div>

        <div class="col-md-4">
          <label> color </label>
          <input
            class="number"
            class="form-group form-control"
            formControlName="vehicleColor"
          />
        </div>

        <div class="col-md-4">
          <label> vehicle specification </label>
          <select
            formControlName="vehicleSpecificationId"
            class="form-control form-select form-group"
          >
            @for(vehicleSpecification of vehicleSpecifications; track
            vehicleSpecification){
            <option [value]="vehicleSpecification.id">
              {{ vehicleSpecification.engineSummary }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle type </label>
          <select
            formControlName="vehicleTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleType of vehicleTypes; track vehicleType){
            <option [value]="vehicleType.id">
              {{ vehicleType.nameAr }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label> fuel type </label>
          <select
            formControlName="fuelTypeId"
            class="form-control form-select form-group"
          >
            @for(fuelType of fuelTypes; track fuelType){
            <option [value]="fuelType.id">
              {{ fuelType.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle ownership </label>
          <select
            formControlName="vehicleOwnershipId"
            class="form-control form-select form-group"
          >
            @for(ownerShip of vehicleOwnerShips; track ownerShip){
            <option [value]="ownerShip.id">
              {{ ownerShip.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle lifecycle </label>
          <select
            formControlName="vehicleLifeCycleId"
            class="form-control form-select form-group"
          >
            @for(vehicleLifeCycle of vehicleLifeCycles; track vehicleLifeCycle){
            <option [value]="vehicleLifeCycle.id">
              {{ vehicleLifeCycle.estimatedResaleValue }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle status </label>
          <select
            formControlName="vehicleStatusId"
            class="form-control form-select form-group"
          >
            @for(vehicleStatus of vehicleStatus; track vehicleStatus){
            <option [value]="vehicleStatus.id">
              {{ vehicleStatus.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle financial </label>
          <select
            formControlName="vehicleFinancialId"
            class="form-control form-select form-group"
          >
            @for(vehicleFinancial of vehicleFianancials; track
            vehicleFinancial){
            <option [value]="vehicleFinancial.id">
              {{ vehicleFinancial.odometerin }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle brand </label>
          <select
            formControlName="vehicleBrandId"
            class="form-control form-select form-group"
          >
            @for(vehicleBrand of vehicleBrands; track vehicleBrand){
            <option [value]="vehicleBrand.id">
              {{ vehicleBrand.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle body </label>
          <select
            formControlName="vehicleBodyTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleBodyType of vehicleBody; track vehicleBodyType){
            <option [value]="vehicleBodyType.id">
              {{ vehicleBodyType.nameAr }}
            </option>
            }
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="addVehicleForm.invalid"
      (click)="addVehicle()"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<!-- here is the modal needed to add a drive on a selected vehicle-->
<ng-template #vehicleDriver let-modal>
  <div class="modal-header">
    <h4>Add driver for the selected vehicle</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addDriverVehicleForm">
      <div class="row">
        <div class="col-md-4">
          <label>Driver</label>
          <select class="form-select form-group" formControlName="driverId">
            @for(driver of Drivers; track driver) {
            <option [value]="driver.id">
              {{ driver.user.fullName }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label>From date</label>
          <input
            type="date"
            class="form-group form-control"
            formControlName="startDate"
          />
        </div>

        <div class="col-md-4">
          <label>To date</label>
          <input
            type="date"
            class="form-group form-control"
            formControlName="expiryDate"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="addDriver()">Save</button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
