<section class="vehicles-section">
  <div
    class="table-container h-100 bg-white rounded-4 pb-3 p-2 shadow-sm position-relative d-flex flex-column align-items-center justify-content-between"
  >
    <div
      [dir]="lang == 'Ar' ? 'rtl' : 'ltr'"
      class="w-100 p-2 my-2 d-flex align-items-start flex-column justify-content-start gap-2"
    >
      <button
        (click)="openAddModal(content)"
        class="btn btn-success px-3 d-flex align-items-center justify-content-center gap-2"
      >
        <span> {{ "tables.vehiclesTable.actionsButton" | translate }} </span>

        <i class="fa-solid fa-plus"></i>
      </button>
      <table class="w-100 table-content position-relative">
        <thead class="w-100">
          <tr class="py-2 px-4 w-100" [ngClass]="{ 'ar-row': lang == 'Ar' }">
            <th
              class="first-heading"
              [ngClass]="{ 'first-heading-Ar': lang == 'Ar' }"
              [ngStyle]="{ 'text-align': lang == 'Ar' ? 'right' : 'left' }"
            >
              {{ "tables.vehiclesTable.carName" | translate }}
            </th>
            <th>{{ "tables.vehiclesTable.modelYear" | translate }}</th>
            <th>{{ "tables.vehiclesTable.fuelType" | translate }}</th>
            <th>{{ "tables.vehiclesTable.carColor" | translate }}</th>
            <!-- <th>
              {{ "tables.vehiclesTable.driverName" | translate }}
            </th> -->

            <th>{{ "tables.vehiclesTable.vehicleStatus" | translate }}</th>
            <th>{{ "tables.vehiclesTable.zone" | translate }}</th>

            <th
              class="second-heading me-4"
              [ngClass]="{ 'second-heading-Ar': lang == 'Ar' }"
            >
              {{ "tables.vehiclesTable.options" | translate }}
            </th>
          </tr>
        </thead>
        @if(isLoading){
        <app-spinner></app-spinner>
        } @else {
        <tbody class="w-100">
          @for(data of driversData; track data) {
          <tr class="w-100">
            <td
              class="person-info d-flex align-items-center justify-content-start gap-2"
            >
              <img
                [src]="
                  data?.res?.photo
                    ? imgUrl + data?.res?.photo
                    : '../../../assets/carjpg.jpg'
                "
                alt=""
                height="40"
                width="40"
              />
              <div class="text-container text-start">
                <h6 class="m-0 p-0 fw-bold">{{ data?.res?.vehicleName }}</h6>
                <!-- <a href="#" class="click-show-image">Show Image</a> -->
              </div>
            </td>
            <td>{{ data?.res?.year }}</td>
            <td>{{ data?.res?.fuelType?.nameEn }}</td>
            <td class="text-center">
              <div
                class="w-100 d-flex align-items-center justify-content-center"
              >
                <div
                  style="width: 20px; height: 20px; border-radius: 50%"
                  [style.backgroundColor]="data?.res?.vehicleColor"
                ></div>
              </div>
            </td>
            <!-- <td class="text-center">
              {{ data.res?.driver?.fullName }}
            </td> -->
            <td style="width: 200px" class="text-center">
              {{ data?.res?.vehicleStatus?.nameEn }}
            </td>
            <td style="width: 200px" class="text-center">
              {{ data?.res?.zone?.nameEn }}
            </td>
            <td class="d-flex align-items-start justify-content-center">
              <button
                pTooltip="Add driver"
                tooltipPosition="top"
                tooltipClass="custom-tooltip"
                (click)="openDriverModal(vehicleDriver, data)"
                class="btn btn-success d-flex align-items-center justify-content-center gap-2"
              >
                <!-- <span> Add driver </span> -->

                <i class="fa-solid fa-plus"></i>
              </button>

              <button
                pTooltip="Show drivers"
                tooltipPosition="top"
                tooltipClass="custom-tooltip"
                (click)="showVehicleDrivers(data, drivers)"
                class="btn btn-success d-flex align-items-center mx-2 justify-content-center gap-2"
              >
                <!-- <span> show drivers </span> -->

                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                pTooltip="Update vehicle"
                tooltipPosition="top"
                tooltipClass="custom-tooltip"
                (click)="openUpdateVehcleModal(content1, data)"
                class="btn btn-success d-flex align-items-center justify-content-center gap-2"
              >
                <!-- <span> Update vehicle </span> -->

                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
        }
      </table>
    </div>

    <!-- <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ driversData.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of driversData;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ index + 1 }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<ng-template #content let-modal>
  <div [dir]="lang == 'Ar' ? 'rtl' : 'ltr'" class="modal-header">
    <h4>{{ "tables.vehiclesTable.tableForm.formHeadline" | translate }}</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addVehicleForm" class="">
      <div class="form-wrapper">
        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.vehicleName" | translate }}
          </label>
          <input
            class="text"
            class="form-group form-control"
            formControlName="vehicleName"
          />
        </div>

        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.year" | translate }}
          </label>
          <input
            class="number"
            class="form-group form-control"
            formControlName="year"
          />
        </div>

        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.color" | translate }}
          </label>
          <input
            type="color"
            id="colorCodeSelection"
            class="form-control"
            formControlName="vehicleColor"
          />
        </div>

        <!-- <div class="col-md-4">
          <label>
            {{
              "tables.vehiclesTable.tableForm.vehicleSpecification" | translate
            }}
          </label>
          <select
            formControlName="vehicleSpecificationId"
            class="form-control form-select form-group"
          >
            @for(vehicleSpecification of vehicleSpecifications; track
            vehicleSpecification){
            <option [value]="vehicleSpecification.id">
              {{ vehicleSpecification.engineSummary }}
            </option>
            }
          </select>
        </div> -->

        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.vehicleType" | translate }}
          </label>
          <select
            formControlName="vehicleTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleType of vehicleTypes; track vehicleType){
            <option [value]="vehicleType.id">
              {{ vehicleType.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.fuelType" | translate }}
          </label>
          <select
            formControlName="fuelTypeId"
            class="form-control form-select form-group"
          >
            @for(fuelType of fuelTypes; track fuelType){
            <option [value]="fuelType.id">
              {{ fuelType.nameEn }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.vehicleOwnership" | translate }}
          </label>
          <select
            formControlName="vehicleOwnershipId"
            class="form-control form-select form-group"
          >
            @for(ownerShip of vehicleOwnerShips; track ownerShip){
            <option [value]="ownerShip.id">
              {{ ownerShip.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label> Zone </label>
          <select
            formControlName="zoneId"
            class="form-control form-select form-group"
          >
            @for(zone of zones; track zone){
            <option [value]="zone.id">
              {{ zone.nameEn }}
            </option>
            }
          </select>
        </div>
        <!-- <div class="col-md-4">
          <label> vehicle lifecycle </label>
          <select
            formControlName="vehicleLifeCycleId"
            class="form-control form-select form-group"
          >
            @for(vehicleLifeCycle of vehicleLifeCycles; track vehicleLifeCycle){
            <option [value]="vehicleLifeCycle.id">
              {{ vehicleLifeCycle.estimatedResaleValue }}
            </option>
            }
          </select>
        </div> -->

        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.vehicleStatus" | translate }}
          </label>
          <select
            formControlName="vehicleStatusId"
            class="form-control form-select form-group"
          >
            @for(vehicleStatus of vehicleStatus; track vehicleStatus){
            <option [value]="vehicleStatus.id">
              {{ vehicleStatus.nameEn }}
            </option>
            }
          </select>
        </div>

        <!-- <div class="col-md-4">
          <label> vehicle financial </label>
          <select
            formControlName="vehicleFinancialId"
            class="form-control form-select form-group"
          >
            @for(vehicleFinancial of vehicleFianancials; track
            vehicleFinancial){
            <option [value]="vehicleFinancial.id">
              {{ vehicleFinancial.odometerin }}
            </option>
            }
          </select>
        </div> -->

        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.vehicleBrand" | translate }}
          </label>
          <select
            formControlName="vehicleBrandId"
            class="form-control form-select form-group"
          >
            @for(vehicleBrand of vehicleBrands; track vehicleBrand){
            <option [value]="vehicleBrand.id">
              {{ vehicleBrand.nameEn }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label>
            {{ "tables.vehiclesTable.tableForm.vehicleBody" | translate }}
          </label>
          <select
            formControlName="vehicleBodyTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleBodyType of vehicleBody; track vehicleBodyType){
            <option [value]="vehicleBodyType.id">
              {{ vehicleBodyType.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label>
            {{
              "tables.vehiclesTable.tableForm.vehicleServiceType" | translate
            }}
          </label>
          <select
            formControlName="vehicleServiceTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleServiceType of vehicleServiceTypes; track
            vehicleServiceType){
            <option [value]="vehicleServiceType.id">
              {{ vehicleServiceType.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="formFile" class="form-label">
              {{ "tables.vehiclesTable.tableForm.driverPhoto" | translate }}
            </label>
            <input
              class="form-control"
              (change)="uploadPhoto($event)"
              type="file"
              id="formFile"
            />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="addVehicleForm.invalid"
      (click)="addVehicle()"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
<!-- update vehicle -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4>Update vehicle</h4>
  </div>

  <div class="modal-body">
    <img class="img-new" [src]="getFullImageUrl()" src="vehicle img" />

    <form [formGroup]="updateVehicleForm">
      <div class="form-wrapper">
        <div class="col-md-4">
          <label> vehicle name </label>
          <input
            class="text"
            class="form-group form-control"
            formControlName="vehicleName"
          />
        </div>

        <div class="col-md-4">
          <label> year </label>
          <input
            class="number"
            class="form-group form-control"
            formControlName="year"
          />
        </div>

        <div class="col-md-4">
          <div class="col-md-4">
            <label>Color</label>
            <input
              type="color"
              id="colorCodeSelection"
              class="form-control"
              formControlName="vehicleColor"
            />
          </div>
          <!-- <input
            class="number"
            class="form-group form-control"
            formControlName="vehicleColor"
          /> -->
        </div>

        <!-- <div class="col-md-4">
          <label> vehicle specification </label>
          <select
            formControlName="vehicleSpecificationId"
            class="form-control form-select form-group"
          >
            @for(vehicleSpecification of vehicleSpecifications; track
            vehicleSpecification){
            <option [value]="vehicleSpecification.id">
              {{ vehicleSpecification.engineSummary }}
            </option>
            }
          </select>
        </div> -->

        <div class="col-md-4">
          <label> vehicle type </label>
          <select
            formControlName="vehicleTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleType of vehicleTypes; track vehicleType){
            <option [value]="vehicleType.id">
              {{ vehicleType.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label> fuel type </label>
          <select
            formControlName="fuelTypeId"
            class="form-control form-select form-group"
          >
            @for(fuelType of fuelTypes; track fuelType){
            <option [value]="fuelType.id">
              {{ fuelType.nameEn }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle ownership </label>
          <select
            formControlName="vehicleOwnershipId"
            class="form-control form-select form-group"
          >
            @for(ownerShip of vehicleOwnerShips; track ownerShip){
            <option [value]="ownerShip.id">
              {{ ownerShip.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label> Zone </label>
          <select
            formControlName="zoneId"
            class="form-control form-select form-group"
          >
            @for(zone of zones; track zone){
            <option [value]="zone.id">
              {{ zone.nameEn }}
            </option>
            }
          </select>
        </div>
        <!-- <div class="col-md-4">
          <label> vehicle lifecycle </label>
          <select
            formControlName="vehicleLifeCycleId"
            class="form-control form-select form-group"
          >
            @for(vehicleLifeCycle of vehicleLifeCycles; track vehicleLifeCycle){
            <option [value]="vehicleLifeCycle.id">
              {{ vehicleLifeCycle.estimatedResaleValue }}
            </option>
            }
          </select>
        </div> -->

        <div class="col-md-4">
          <label> vehicle status </label>
          <select
            formControlName="vehicleStatusId"
            class="form-control form-select form-group"
          >
            @for(vehicleStatus of vehicleStatus; track vehicleStatus){
            <option [value]="vehicleStatus.id">
              {{ vehicleStatus.nameEn }}
            </option>
            }
          </select>
        </div>

        <!-- <div class="col-md-4">
          <label> vehicle financial </label>
          <select
            formControlName="vehicleFinancialId"
            class="form-control form-select form-group"
          >
            @for(vehicleFinancial of vehicleFianancials; track
            vehicleFinancial){
            <option [value]="vehicleFinancial.id">
              {{ vehicleFinancial.odometerin }}
            </option>
            }
          </select>
        </div> -->

        <div class="col-md-4">
          <label> vehicle brand </label>
          <select
            formControlName="vehicleBrandId"
            class="form-control form-select form-group"
          >
            @for(vehicleBrand of vehicleBrands; track vehicleBrand){
            <option [value]="vehicleBrand.id">
              {{ vehicleBrand.nameEn }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> vehicle body </label>
          <select
            formControlName="vehicleBodyTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleBodyType of vehicleBody; track vehicleBodyType){
            <option [value]="vehicleBodyType.id">
              {{ vehicleBodyType.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <label> Vehicle Service Type </label>
          <select
            formControlName="vehicleBodyTypeId"
            class="form-control form-select form-group"
          >
            @for(vehicleServiceType of vehicleServiceTypes; track
            vehicleServiceType){
            <option [value]="vehicleServiceType.id">
              {{ vehicleServiceType.nameEn }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="formFile" class="form-label">Vehicle photo</label>
            <input
              class="form-control"
              (change)="uploadPhotoOnUpdate($event)"
              type="file"
              id="formFile"
            />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="updateVehicle()">Save</button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
<!-- here is the modal needed to add a drive on a selected vehicle-->
<ng-template #vehicleDriver let-modal>
  <div class="modal-header">
    <h4>Add driver for the selected vehicle</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addDriverVehicleForm">
      <div class="row">
        <div class="col-md-4">
          <label>Driver</label>

          <div class="card flex justify-content-center">
            <p-dropdown
              [options]="Drivers"
              [(ngModel)]="selectedDriver"
              optionLabel="user"
              optionValue="driverId"
              [filter]="true"
              filterBy="user"
              [showClear]="true"
              placeholder="Select a Driver"
              appendTo="body"
              formControlName="driverId"
            >
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.user }}</div>
                </div>
              </ng-template>
              <ng-template let-driver pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img
                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="
                      'flag flag-' + driver.driverId.toString().toLowerCase()
                    "
                    style="width: 18px"
                  />
                  <div>{{ driver.user }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <!-- <select class="form-select form-group" formControlName="driverId">
            @for(driver of Drivers; track driver.driverId) {
            <option [value]="driver?.driverId">
              {{ driver?.user }}
            </option>
            }
          </select> -->
        </div>

        <div class="col-md-4">
          <label>From date</label>
          <input
            type="date"
            class="form-group form-control"
            formControlName="startDate"
          />
        </div>

        <div class="col-md-4">
          <label>To date</label>
          <input
            type="date"
            class="form-group form-control"
            formControlName="expiryDate"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="addDriver()">Save</button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<!-- here is the modal needed to show all added drivers on the selected vehicles-->
<ng-template #drivers let-modal>
  <div class="modal-body">
    <form [formGroup]="updateDriverVehicleForm">
      <table class="w-100 table-content position-relative">
        <thead class="w-100">
          <tr class="py-2 px-4 w-100">
            <th class="first-heading">#</th>
            <th class="text-start">Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Total amount</th>
            <th>Total count</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody class="w-100">
          @for(data of vehicleDrivers; track data; let i = $index) {
          <tr class="w-100">
            <td>
              {{ i + 1 }}
            </td>
            <td
              class="person-info d-flex align-items-center justify-content-start gap-2"
            >
              <img
                [src]="
                  data.driver.user.picture
                    ? imgUrl + data.driver.user.picture
                    : '../../../assets/unknown.png'
                "
                alt=""
                height="40"
                width="40"
              />
              <div class="text-container text-start">
                <h6 class="m-0 p-0 fw-bold">{{ data.driver.user.fullName }}</h6>
                <!-- <a href="#" class="click-show-image">Show Image</a> -->
              </div>
            </td>
            <!-- <td *ngIf="isEditDriverVehicleUpdated && editingIndex === i">
              <div class="card flex justify-content-center w-75">
                <p-dropdown
                  [options]="Drivers"
                  [(ngModel)]="selectedDriver"
                  optionLabel="user"
                  optionValue="driverId"
                  [filter]="true"
                  filterBy="user"
                  [showClear]="true"
                  placeholder="Select a Driver"
                  appendTo="body"
                  formControlName="driverId"
                >
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.user }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-driver pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="
                          'flag flag-' +
                          driver.driverId.toString().toLowerCase()
                        "
                        style="width: 18px"
                      />
                      <div>{{ driver.user }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </td> -->
            <td>
              {{ data.driver.user.email }}
            </td>
            <td>
              {{ data.driver.user.genderId == 1 ? "Male" : "Female" }}
            </td>
            <td>
              {{ data.driver.user.phoneNumber }}
            </td>
            <td>
              @if(data.driver.status == false) {
              <i class="fa-solid fa-circle-xmark close-icon"></i>
              } @else {
              <i class="fa-solid fa-check success-icon"></i>
              }
            </td>
            <td>
              {{ data.driver.totalAmount ? data.driver.totalAmount : "-" }}
            </td>
            <td>
              {{ data.driver.totalCount ? data.driver.totalCount : "-" }}
            </td>
            <td *ngIf="!isEditDriverVehicleUpdated || editingIndex !== i">
              {{ data.startDate | date : "dd-MM-yyyy" }}
            </td>
            <td *ngIf="isEditDriverVehicleUpdated && editingIndex === i">
              <input
                type="date"
                class="form-group form-control w-75"
                formControlName="startDate"
              />
            </td>

            <td *ngIf="!isEditDriverVehicleUpdated || editingIndex !== i">
              {{ data.expiryDate | date : "dd-MM-yyyy" }}
            </td>
            <td *ngIf="isEditDriverVehicleUpdated && editingIndex === i">
              <input
                type="date"
                class="form-group form-control w-75"
                formControlName="expiryDate"
              />
            </td>

            <td>
              <div class="edit-btn">
                <button
                  tooltipPosition="top"
                  tooltipClass="custom-tooltip"
                  (click)="editDriverVehicle(data, i)"
                  *ngIf="!isEditDriverVehicleUpdated || editingIndex !== i"
                  class="btn btn-success d-flex align-items-center justify-content-center gap-2"
                >
                  <!-- <span> Update vehicle </span> -->

                  <i class="fas fa-edit"></i>
                </button>
                <button
                  class="btn btn-success"
                  (click)="confirmUpdateDriverVehicle()"
                  *ngIf="isEditDriverVehicleUpdated && editingIndex === i"
                >
                  Save
                </button>
              </div>
            </td>

            <!-- <td style="width: 200px" class="text-center"></td>
          <td style="width: 200px" class="text-center"></td> -->
          </tr>
          }
        </tbody>
      </table>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="confirmUpdateDriverVehicle()">
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<!-- here is the modal needed to update the selected driver placed on the vehicle-->
<!-- <ng-template #updateDriverVehicle let-modal>
  <div class="modal-header">
    <h4>Update driver vehicle</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="updateDriverVehicleForm">
      <div class="row">
        <div class="col-md-4">
          <label>Driver</label>
          <div class="card flex justify-content-center">
            <p-dropdown
              [options]="Drivers"
              [(ngModel)]="selectedDriver"
              optionLabel="user"
              optionValue="driverId"
              [filter]="true"
              filterBy="user"
              [showClear]="true"
              placeholder="Select a Driver"
              appendTo="body"
              formControlName="driverId"
            >
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.user }}</div>
                </div>
              </ng-template>
              <ng-template let-driver pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img
                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="
                      'flag flag-' + driver.driverId.toString().toLowerCase()
                    "
                    style="width: 18px"
                  />
                  <div>{{ driver.user }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

        <div class="col-md-4">
          <label>From date</label>
          <input
            type="date"
            class="form-group form-control"
            formControlName="startDate"
          />
        </div>

        <div class="col-md-4">
          <label>To date</label>
          <input
            type="date"
            class="form-group form-control"
            formControlName="expiryDate"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="confirmUpdateDriverVehicle()">
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template> -->
