@import "../../../styles.scss";
@mixin displayAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  font-family: "montserrat";
}
.map-wrapper {
  border: 1px solid $primary-color;
  height: 300px;
}
.person-info {
  width: 250px;
}
.table-container {
  background-color: white !important;
  overflow-y: scroll;
}
.table-content {
  overflow-y: scroll;
}
table {
  border: none !important;
}
thead {
  // display: block;
  border-radius: 10px;
  overflow: hidden;
}
thead th {
  padding: 12px;
}
thead tr {
  padding: 10px;
  font-size: 14px !important;

  background-color: $primary-color !important;
}
tbody tr {
  border: none !important;
}
thead tr {
  color: white;
  text-align: center;
}
tbody tr td {
  text-align: center;
  padding-block: 10px;
}
.text-container {
  & h6 {
    font-size: 14px;
    margin-bottom: 3px !important;
  }
  & p {
    font-size: 12px;
    color: #90a0b7;
  }
}
.first-heading {
  border-radius: 10px 0px 0px 10px !important;
}

.second-heading {
  border-radius: 0px 10px 10px 0px;
}
::ng-deep .p-datatable-thead th {
  color: white;
  padding: 10px;
  background-color: $primary-color;
  font-size: 14px;
}
::ng-deep .p-hidden-accessible {
  display: flex;
  align-items: center;
  justify-content: start;
}
::ng-deep .p-datatable-tbody tr .p-checkbox {
  padding-left: 10px !important;
}
::ng-deep .p-datatable-tbody tr td {
  padding-block: 12px;
}
tbody tr td {
  font-size: 12px;
}
// ::ng-deep .p-checkbox {
//   padding-left: 14px;
// }
.income-styling {
  background-color: #24c18f2e;
  color: #24c18f;
  font-weight: bold;
}

.not-available {
  background-color: rgba(255, 0, 0, 0.2) !important;
  color: red !important;
}
thead {
  position: sticky;
  top: -8px;
  left: 0;
  right: 0;
  z-index: 1;
}
.table-footer {
  justify-self: end;
}
.box-style {
  @include displayAlignment();
  width: 30px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  cursor: pointer;
}
.active-page {
  background-color: $primary-color;
  color: white;
}
.drivers-section {
  height: 75vh;
}

.btn-success {
  background-color: white;
  color: $primary-color;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.btn-success:hover {
  background-color: white;
  color: $primary-color;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.btn-success:active {
  background-color: white !important;
  color: $primary-color !important;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
}

.route-details {
  .btn {
    font-size: 12px;
    background-color: white !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    color: $primary-color;
    opacity: 0.8;
    font-weight: 600;

    & :active {
      border-color: $primary-color !important ;
    }
  }
}

.empty-message {
  text-transform: capitalize;
  font-size: 14px;
}
.driver-name-container {
  & h6 {
    font-size: 16px !important;
  }
  & p {
    font-size: 14px !important;
  }
}
.driver-image-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  & img {
    width: 100%;
    aspect-ratio: 1;
  }
}
.text-primary {
  margin-bottom: 5px !important;
}
.date-input-container {
  border: 1px solid rgba(128, 128, 128, 0.161);
}
::ng-deep .p-inputtext {
  border: none;
  box-shadow: none;
}
.modal-sectionBody-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px !important;
}
.destination-container {
  // flex-direction: column;
  flex: 1;
  & p {
    font-size: 12px;
    text-align: center;
  }
}
.location {
  width: 100% !important;
}

.define-text {
  color: $primary-color;
  font-weight: bold;
  font-size: 10px;
}
.trip-content {
  border: 1px solid rgb(205, 243, 255);
}
.trip-content-header {
  border-bottom: 1px solid lightblue;
}
.trip-content-data {
  font-size: 12px;
  * {
    font-size: 1em;
  }
}
.pricing-container {
  padding-top: 10px;
  border-top: 1px solid rgb(205, 243, 255);
}

.section-body {
  min-height: fit-content;
  max-height: 50vh;
  overflow-y: scroll;
}
