<section class="drivers-section">
  <div class="text-start my-2">
    <button
      (click)="openAddModal(content)"
      class="btn btn-success px-2 d-flex align-items-center justify-content-center gap-2 w-auto py-2 add-new-user-button"
    >
      <span>Add new</span>
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div
    class="table-container h-100 bg-white rounded-4 pb-3 p-2 shadow-sm position-relative d-flex flex-column align-items-center justify-content-between"
  >
    <table class="w-100 table-content position-relative">
      <thead class="w-100">
        <tr class="py-2 px-4 w-100">
          <th style="width: 150px; text-align: left; padding-left: 0px">
            User
          </th>
          <th>Driver Location</th>
          <th>Car Comfort</th>
          <th>email</th>
          <th>gender</th>
          <th class="second-heading pe-4">status</th>
        </tr>
      </thead>
      <tbody class="w-100">
        @for(data of driversData.items; track data ;let idx= $index) {
        <tr class="w-100">
          <td
            class="person-info d-flex align-items-center justify-content-start gap-2"
          >
            <img
              [src]="data.res.user.picture ?? '../../../assets/unknown.png'"
              alt=""
              height="40"
              width="40"
            />
            <div class="text-container text-start">
              <h6 class="m-0 p-0">{{ data.res.user.fullName }}</h6>
              <p class="m-0 p-0">{{ data.res.user.phoneNumber }}</p>
            </div>
          </td>
          <td style="width: 250px">{{ coordsCollection[idx] }}</td>

          <td style="width: 200px" class="text-center ps-1">
            {{
              data.res?.vehicle?.vehicleName
                ? data.res?.vehicle.vehicleName
                : "No vehicle assigned"
            }}
          </td>
          <td>{{ data.res.user.email }}</td>
          <td>{{ data.res.user.gender.nameEn }}</td>
          <td class="d-flex align-items-center justify-content-center">
            <div
              class="income-styling px-2 w-50 py-2 rounded-4"
              [ngClass]="{ 'not-available': !data.res.status }"
            >
              {{ data.res.status ? "available" : "N/A" }}
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ driversData.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of driversData.items;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ index + 1 }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Add new driver</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addUserForm">
      <div class="row">
        <div class="col-md-4">
          <label> Email </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="email"
          />
        </div>
        <div class="col-md-4">
          <label> Fullname </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="fullName"
          />
        </div>
        <div class="col-md-4">
          <label> Phone </label>
          <input
            class="form-group form-control"
            type="number"
            formControlName="phoneNumber"
          />
        </div>
        <div class="col-md-4">
          <label> Gender </label>
          <select formControlName="genderId" class="form-select form-control">
            <option [value]="1">Male</option>
            <option [value]="2">Female</option>
          </select>
        </div>

        <div class="col-md-4">
          <label> Nationality </label>
          <select
            formControlName="nationalityId"
            class="form-select form-control"
          >
            <option disabled selected value="null">
              Please choose nationality
            </option>
            @for(nationality of nationalities; track nationality){
            <option [value]="nationality.id">
              {{ nationality.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4">
          <label> Password </label>

          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>

        <div class="col-md-4">
          <label> Confirm password </label>

          <input
            class="form-control"
            type="password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              addUserForm.errors?.['mismatch'] && addUserForm.get('confirmPassword')?.touched
            "
          >
            <p class="fw-bold text-danger">
              Password and confirm password do not match.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <label> Birth date </label>
          <input class="form-control" type="date" formControlName="birthDate" />
        </div>

        <div class="col-md-4">
          <div class="mb-3">
            <label for="formFile" class="form-label">Driver photo</label>
            <input class="form-control" type="file" id="formFile" />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="addUserForm.invalid"
      (click)="addDrivers()"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
