<section class="drivers-section">
  <div
    class="text-start my-2 d-flex align-items-center justify-content-start gap-3 mx-2"
  >
    <div
      class="w-25 search-input d-flex align-items-center justify-content-start gap-4 rounded-pill px-4 py-2"
    >
      <label class="search-icon" for="search-icon">
        <img src="../../../assets/search.png" width="12" height="12" alt="" />
      </label>
      <input
        type="text"
        id="search-icon"
        placeholder="search"
        [(ngModel)]="searchInput"
      />
      <!-- (change)="searchInDrivers($event)" -->
    </div>
    <button
      (click)="openAddModal(content)"
      class="btn btn-success px-3 d-flex align-items-center rounded-pill justify-content-center gap-2 w-auto py-2 add-new-user-button"
    >
      <span> {{ "tables.driversTable.tableForm.addnew" | translate }}</span>
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div
    class="table-container h-100 bg-white rounded-4 pb-3 p-2 shadow-sm position-relative d-flex flex-column align-items-center justify-content-between"
  >
    <table class="w-100 table-content position-relative">
      <thead class="w-100">
        <tr class="py-2 px-4 w-100">
          <th
            class="first-heading"
            [ngClass]="{ 'first-heading-Ar': lang == 'Ar' }"
            style="width: 150px; padding-left: 20px"
            [ngStyle]="{ 'text-align': lang == 'Ar' ? 'right' : 'left' }"
          >
            {{ "tables.driversTable.user" | translate }}
          </th>
          <th>{{ "tables.driversTable.driverLocation" | translate }}</th>
          <th>{{ "tables.driversTable.carComfort" | translate }}</th>
          <th>{{ "tables.driversTable.email" | translate }}</th>
          <th>{{ "tables.driversTable.gender" | translate }}</th>
          <th>{{ "tables.driversTable.status" | translate }}</th>
          <th>{{ "tables.driversTable.delete" | translate }}</th>
          <th>{{ "tables.driversTable.edit" | translate }}</th>

          <th
            class="second-heading pe-4"
            [ngClass]="{ 'second-heading-Ar': lang == 'Ar' }"
          >
            {{ "tables.driversTable.options" | translate }}
          </th>
        </tr>
      </thead>
      @if(isLoading){
      <app-spinner></app-spinner>
      } @else {

      <tbody class="w-100">
        @for(data of driversDetails | searchFilter : searchInput ; track data
        ;let idx= $index) {
        <tr class="w-100">
          <td
            class="person-info d-flex align-items-center justify-content-start gap-2"
          >
            <div
              class="ps-3 d-flex align-items-center justify-content-start gap-2"
            >
              <img
                [src]="
                  data.res.user
                    ? imgUrl + data.res.user.picture
                    : '../../../assets/unknown.png'
                "
                alt=""
                height="40"
                width="40"
              />
              <div class="text-container text-start">
                <h6
                  class="m-0 p-0"
                  [ngStyle]="{
                    'text-align': lang == 'Ar' ? 'right' : 'left'
                  }"
                >
                  {{ data.res?.user?.fullName ? data.res.user.fullName : "-" }}
                </h6>
                <p
                  [ngStyle]="{
                    'text-align': lang == 'Ar' ? 'right' : 'left'
                  }"
                  class="m-0 p-0"
                >
                  {{
                    data.res?.user?.phoneNumber
                      ? data.res.user.phoneNumber
                      : "-"
                  }}
                </p>
              </div>
            </div>
          </td>
          <td style="width: 250px">
            {{ coordsCollection[idx] ? coordsCollection[idx] : "-" }}
          </td>

          <td style="width: 200px" class="text-center ps-1">
            {{
              data.res?.vehicle?.vehicleName
                ? data.res?.vehicle.vehicleName
                : "No vehicle assigned"
            }}
          </td>
          <td>{{ data.res?.user?.email ? data.res?.user?.email : "-" }}</td>
          <td>
            {{
              data.res.user?.gender?.nameEn
                ? data.res.user?.gender?.nameEn
                : "-"
            }}
          </td>
          <td>
            <div
              class="income-styling py-2 rounded-4"
              [ngClass]="{ 'not-available': !data.res.status }"
            >
              <p class="px-2">
                {{ data.res.status ? "available" : "N/A" }}
              </p>
            </div>
          </td>
          <td>
            <div class="delete-btn">
              <button
                tooltipPosition="top"
                tooltipClass="custom-tooltip"
                (click)="deleteContentModal(deleteConfirm, data)"
                class="btn btn-success d-flex align-items-center mx-2 justify-content-center gap-2"
              >
                <!-- <span> show drivers </span> -->

                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
          <td>
            <button
              pTooltip="Update Driver"
              tooltipPosition="top"
              tooltipClass="custom-tooltip"
              (click)="openUpdateModal(content1, data.res.user)"
              class="btn btn-success d-flex align-items-center justify-content-center gap-2"
            >
              <!-- <span> Update vehicle </span> -->

              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <div
              class="route-details rounded-4 d-flex align-items-center justify-content-center"
            >
              <button class="btn" (click)="openAddModal(tripData, data?.res)">
                {{ "tables.driversTable.tableMeta.optionsText" | translate }}
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
      }
    </table>

    <div
      class="table-footer bg-white p-2 w-100 d-flex align-items-center justify-content-end"
    >
      <ngb-pagination
        [collectionSize]="totalRecords"
        [(page)]="pageNumber"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination>
      <!-- <div class="w-auto d-flex align-items-center justify-content-center">
        <div class="items-container">1 items of {{ driversData.length }}</div>
        <div
          class="pagination-container d-flex align-items-center justify-content-center gap-2 px-3"
        >
          <div class="box-style">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            @for(item of driversData.items;track item ; let index = $index){

            <div class="box-style" [ngClass]="{ 'active-page': index == 0 }">
              <p>{{ index + 1 }}</p>
            </div>

            }
          </div>
          <div class="box-style">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Add new driver</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="addUserForm">
      <div class="driver-form-wrapper">
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
            >{{ "tables.driversTable.tableForm.userName" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="username"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.email" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="email"
          />
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.fullname" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="fullName"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.phone" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="phoneNumber"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.gender" | translate }}
          </label>
          <select formControlName="genderId" class="form-select form-control">
            <option [value]="1">Male</option>
            <option [value]="2">Female</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.nationality" | translate }}
          </label>
          <select
            formControlName="nationalityId"
            class="form-select form-control"
          >
            <option disabled selected value="null">
              {{ lang === "Ar" ? "اختر الجنسية" : "Please choose nationality" }}
            </option>
            @for(nationality of nationalities; track nationality){
            <option [value]="nationality.id">
              {{ nationality.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
            >{{ "tables.driversTable.tableForm.password" | translate }}
          </label>

          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.confirmPassword" | translate }}
          </label>

          <input
            class="form-control"
            type="password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              addUserForm.errors?.['mismatch'] && addUserForm.get('confirmPassword')?.touched
            "
          >
            <p class="fw-bold text-danger">
              {{
                lang == "Ar"
                  ? "عدم تطابق كلمة السر"
                  : "Password and confirm password do not match."
              }}
            </p>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.birthDate" | translate }}
          </label>
          <input class="form-control" type="date" formControlName="birthDate" />
        </div>

        <div class="col-md-4">
          <div class="mb-3">
            <label
              class="w-100"
              [ngClass]="{
                'text-start': lang == 'En',
                'text-end': lang == 'Ar'
              }"
              for="formFile"
              class="form-label m-0 w-100"
              >{{
                "tables.driversTable.tableForm.driverPhoto" | translate
              }}</label
            >
            <input
              class="form-control"
              (change)="uploadPhoto($event)"
              type="file"
              id="formFile"
            />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      [disabled]="addUserForm.invalid"
      (click)="addDrivers()"
    >
      Save
    </button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #tripData let-modal>
  <div [dir]="lang == 'Ar' ? 'rtl' : 'ltr'" class="modal-header">
    <h6>
      {{ "tables.driversTable.allTripsDetails.allTripsHeadline" | translate }}
    </h6>
  </div>

  <div
    class="modal-body d-flex align-items-center justify-content-center flex-column gap-3"
  >
    <div
      class="modal-header-wrapper w-100 d-flex justify-content-center gap-3 flex-column"
      [ngClass]="{
        'align-items-start': lang == 'En',
        'align-items-end': lang == 'Ar'
      }"
    >
      <div
        class="section-header w-100 p-2 shadow-sm rounded-5"
        [ngClass]="{ 'pe-5': lang == 'En', 'ps-5': lang == 'Ar' }"
      >
        <div
          class="d-flex align-items-center justify-content-between gap-3"
          [dir]="lang === 'Ar' ? 'rtl' : 'ltr'"
        >
          <div class="d-flex align-items-center justify-content-start gap-3">
            <div class="driver-image-container">
              <img
                [src]="
                  !singleDriver.user?.picture?.length
                    ? '../../../assets/unknown.png'
                    : userImage
                "
                alt=""
              />
            </div>
            <div
              class="driver-name-container d-flex align-items-start justify-content-center flex-column"
            >
              <h6 class="m-0 p-0 text-primary fw-bold">
                {{ singleDriver.user?.fullName }}
              </h6>
              <p class="m-0 p-0 text-muted">
                {{ singleDriver.user?.phoneNumber }}
              </p>
            </div>
          </div>
          <div
            class="driver-name-container d-flex align-items-start justify-content-center flex-column"
          >
            <h6 class="m-0 p-0 text-primary fw-bold">
              {{ "tables.driversTable.allTripsDetails.email" | translate }}
            </h6>
            <p class="m-0 p-0 text-muted">
              {{ singleDriver.user?.email }}
            </p>
          </div>
          <div
            class="driver-name-container d-flex align-items-start justify-content-center flex-column"
          >
            <h6 class="m-0 p-0 text-primary fw-bold">
              {{ "tables.driversTable.allTripsDetails.gender" | translate }}
            </h6>
            <p class="m-0 p-0 text-muted">
              {{ singleDriver.user?.gender?.nameEn }}
            </p>
          </div>
          <div
            class="driver-name-container d-flex align-items-start justify-content-center flex-column"
          >
            <h6 class="m-0 p-0 text-primary fw-bold">
              {{ "tables.driversTable.allTripsDetails.carComfort" | translate }}
            </h6>
            <p class="m-0 p-0 text-muted">
              {{
                singleDriver.vehicle?.vehicleName
                  ? singleDriver.vehicle?.vehicleName
                  : "Not Assigned"
              }}
            </p>
          </div>
          <div
            class="driver-name-container d-flex align-items-start justify-content-center flex-column"
          >
            <h6 class="m-0 p-0 text-primary fw-bold">
              {{ "tables.driversTable.allTripsDetails.status" | translate }}
            </h6>
            <div class="income-styling-single rounded-4">
              <p>
                {{ singleDriver.status ? "available" : "N/A" }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="date-form-container rounded-pill shadow-sm bg-white px-3 py-2"
      >
        <form
          [formGroup]="dateRangeForm"
          [dir]="lang == 'En' ? 'ltr' : 'rtl'"
          [ngClass]="{
            'justify-content-start': lang == 'En',
            'justify-content-end': lang == 'Ar'
          }"
          class="form-wrapper d-flex align-items-center gap-2"
        >
          <div
            class="date-input-container px-3 py-1 rounded-pill d-flex align-items-center justify-content-start gap-2"
          >
            <p class="text-muted">
              {{ "tables.driversTable.allTripsDetails.from" | translate }}
            </p>
            <p-calendar
              [showOnFocus]="false"
              [showIcon]="true"
              formControlName="startDate"
            />
          </div>
          <div
            class="date-input-container px-3 py-1 rounded-pill d-flex align-items-center justify-content-start gap-2"
          >
            <p class="text-muted">
              {{ "tables.driversTable.allTripsDetails.to" | translate }}
            </p>
            <p-calendar
              [showOnFocus]="false"
              [showIcon]="true"
              formControlName="endDate"
            />
          </div>
          <div class="form-btn-container">
            <button
              (click)="sendDateRange()"
              class="btn btn-primary rounded-pill px-3 py-1 fs-6"
            >
              {{ "tables.driversTable.allTripsDetails.search" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="section-body w-100">
      @if(!getTripDataToDisplay.length){ @if(lang=='En'){

      <div class="empty-message shadow-sm p-5 w-100 rounded-5 text-center">
        {{
          !tripDataToDisplay().length
            ? "Choose a date range to show trips"
            : "No Data Found to Display"
        }}
      </div>
      }@else {
      <div class="empty-message shadow-sm p-5 w-100 rounded-5 text-center">
        {{
          !tripDataToDisplay().length
            ? "اختر فترة تاريخ لاظهار البيانات"
            : "لا يوجد بيانات للفترة المدخلة"
        }}
      </div>
      } }@else {
      <div class="modal-sectionBody-content gap-3 px-2 py-3">
        @for( tripData of getTripDataToDisplay; track tripData ) {
        <div class="trip-content shadow-sm rounded-3 p-2 w-100">
          <div
            class="trip-content-header w-100 d-flex align-items-start justtify-content-center gap-2"
          >
            <div
              class="destination-container d-flex align-items-start flex-column justify-content-center"
            >
              <p class="define-text px-3 m-0 py-0">From</p>
              <p class="location p-2 rounded-4">
                {{ tripData.request.fromLocationName }}
              </p>
            </div>
            <div
              class="destination-container d-flex align-items-start flex-column justify-content-center"
            >
              <p class="define-text px-3 m-0 py-0">To</p>
              <p class="location p-2 rounded-4">
                {{ tripData.request.toLocationName }}
              </p>
            </div>
          </div>

          <div
            class="ps-3 d-flex align-items-start justify-content-start flex-column gap-2"
          >
            <div
              class="d-flex align-items-center justify-items-start gap-2 mt-2"
            >
              <img
                [src]="
                  tripData?.request?.customer?.picture
                    ? imgUrl + tripData.request.customer.picture
                    : '../../../assets/unknown.png'
                "
                alt=""
                height="40"
                width="40"
              />
              <div class="text-container text-start">
                <h6 class="m-0 p-0">
                  {{
                    tripData?.request.customer?.fullName
                      ? tripData?.request.customer?.fullName
                      : "-"
                  }}
                </h6>
                <p class="m-0 p-0">
                  {{
                    tripData?.request.customer?.phoneNumber
                      ? tripData?.request.customer?.phoneNumber
                      : "-"
                  }}
                </p>
              </div>
            </div>
            <p class="m-0 p-0">
              <p-rating
                [(ngModel)]="tripData.request.customerRate"
                [cancel]="false"
                [readonly]="true"
              />
            </p>
          </div>
          <div
            class="trip-content-body gap-2 py-2 d-flex align-items-center justify-content-center w-100 flex-column w-100"
          >
            <div
              class="trip-content-data createdAt d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Trip Created At</p>
              <p class="m-0 p-0">{{ dateFormatter(tripData.createdAt) }}</p>
            </div>
            <div
              class="trip-content-data acceptanceDate d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Accepted At</p>
              <p class="m-0 p-0">
                {{ dateFormatter(tripData.acceptanceDateTime) }}
              </p>
            </div>
            <div
              class="trip-content-data d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Distance</p>
              <p class="m-0 p-0">
                {{ tripData.request.tripDistance / 1000 + " KM" }}
              </p>
            </div>
            <div
              class="trip-content-data d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Time</p>
              <p class="m-0 p-0">
                {{ getTripTimeFormate(tripData.request.tripTime) }}
              </p>
            </div>
            <div
              class="trip-content-data pricing-container d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Distance price</p>
              <p class="m-0 p-0">
                {{ tripData.request.paymentDetails.distancePrice }}
              </p>
            </div>

            <div
              class="trip-content-data pricing-container d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Gates count</p>
              <p class="m-0 p-0">
                {{ tripData.request.paymentDetails.gatesCount }}
              </p>
            </div>

            <div
              class="trip-content-data pricing-container d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Gates fees</p>
              <p class="m-0 p-0">
                {{ tripData.request.paymentDetails.gatesFees }}
              </p>
            </div>

            <div
              class="trip-content-data pricing-container d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Tax</p>
              <p class="m-0 p-0">
                {{ tripData.request.paymentDetails.tax }}
              </p>
            </div>

            <div
              class="trip-content-data pricing-container d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Fine</p>
              <p class="m-0 p-0">
                {{ tripData.request.paymentDetails.negativeCredit }}
              </p>
            </div>

            <div
              class="trip-content-data d-flex align-items-center justify-content-between px-3 w-100"
            >
              <p class="m-0 p-0">Price</p>
              <p class="m-0 p-0">
                {{ tripData.request.paymentDetails.totalPrice }}
              </p>
            </div>
          </div>
        </div>
        }
      </div>
      }
    </div>
    <div class="section-footer"></div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4>{{ "tables.driversTable.addnew" | translate }}</h4>
  </div>

  <div class="modal-body">
    <img class="img-new" [src]="getFullImageUrl()" src="client img" />

    <form [formGroup]="updateDriverForm">
      <div class="driver-form-wrapper" [dir]="lang == 'En' ? 'ltr' : 'rtl'">
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
            >{{ "tables.driversTable.tableForm.userName" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="username"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.email" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="email"
          />
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.fullname" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="fullName"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.phone" | translate }}
          </label>
          <input
            class="form-group form-control"
            type="text"
            formControlName="phoneNumber"
          />
        </div>
        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.gender" | translate }}
          </label>
          <select formControlName="genderId" class="form-select form-control">
            <option [value]="1">Male</option>
            <option [value]="2">Female</option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.nationality" | translate }}
          </label>
          <select
            formControlName="nationalityId"
            class="form-select form-control"
          >
            <option disabled selected value="null">
              {{ lang === "Ar" ? "اختر الجنسية" : "Please choose nationality" }}
            </option>
            @for(nationality of nationalities; track nationality){
            <option [value]="nationality.id">
              {{ nationality.nameAr }}
            </option>
            }
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
            >{{ "tables.driversTable.tableForm.password" | translate }}
          </label>

          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.confirmPassword" | translate }}
          </label>

          <input
            class="form-control"
            type="password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              addUserForm.errors?.['mismatch'] && addUserForm.get('confirmPassword')?.touched
            "
          >
            <p class="fw-bold text-danger">
              {{
                lang == "Ar"
                  ? "عدم تطابق كلمة السر"
                  : "Password and confirm password do not match."
              }}
            </p>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label
            class="w-100"
            [ngClass]="{ 'text-start': lang == 'En', 'text-end': lang == 'Ar' }"
          >
            {{ "tables.driversTable.tableForm.birthDate" | translate }}
          </label>
          <input class="form-control" type="date" formControlName="birthDate" />
        </div>

        <div class="col-md-4">
          <div class="mb-3">
            <label
              class="w-100"
              [ngClass]="{
                'text-start': lang == 'En',
                'text-end': lang == 'Ar'
              }"
              for="formFile"
              class="form-label m-0 w-100"
              >{{
                "tables.driversTable.tableForm.driverPhoto" | translate
              }}</label
            >
            <input
              class="form-control"
              (change)="updateUserImage($event)"
              type="file"
              id="formFile"
            />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="updateDriver()">Save</button>
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #deleteConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "confirm delete driver" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="alert alert-warning">
      <p class="text-center">
        {{ "confirm text" | translate }}
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      الغاء
    </button>
    <button class="btn btn-success" (click)="deleteDriver()">
      {{ "addRequest.buttons" | translate }}
    </button>
  </div>
</ng-template>
